<#include "security.ftl">
<#import "login.ftl" as l>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" />
    <a class="navbar-brand" href="/">
        L I B R A R Y
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main">Books</a>
            </li>
            <#if user??>
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile">Profile</a>
                </li>
            </#if>
            <#if isAdmin>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Users list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/book">Books Editor</a>
                </li>
            </#if>
        </ul>

        <div class="navbar-text mr-3">${name}</div>
        <#if name!="unknown">
            <@l.logout />
        </#if>
    </div>
</nav>